* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

nav {
    margin-bottom: 30px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #007bff;
}

h1 {
    margin-bottom: 20px;
}


/* Design Formulaire and Table with attribute data-api-endpoint */
form[data-api-endpoint], table[data-api-endpoint] {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;

    width: 100%;
}

form[data-api-endpoint] input,
form[data-api-endpoint] textarea,
form[data-api-endpoint] button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form[data-api-endpoint] button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

form[data-api-endpoint] button:hover {
    background-color: #218838;
}

table[data-api-endpoint] {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    table-layout: fixed;
}

table[data-api-endpoint] th,
table[data-api-endpoint] td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table[data-api-endpoint] th {
    background-color: #f2f2f2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

table[data-api-endpoint] td {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* hover each line table */
table[data-api-endpoint] tr:hover {
    background-color: #f1f1f1;
}

.dashboard {

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 15px;

        border-bottom: 2px solid #ddd;
        padding-bottom: 5px;
    }
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    font-weight: bold;

    transition-duration: 0.3s;
}
.back-button:hover {
    color: #0056b3;
}